/* Общие стили*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

img {
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #191919;

}

header {
    width: 100%;
    margin: 0 auto;
}

.header-container {
    background-color: #191919;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    max-width: 75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    padding: 2rem 1rem;
}

/* Стили для бургер-кнопки */
.burger-menu {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
}

.burger-line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

/* Скрытое меню */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 5.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}


.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

.link p {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;

    font-weight: 600;
    font-size: 0.9375rem;

    padding-top: 0.85rem;
    padding-left: 11.5rem;
}

.link-rus {
    padding-left: 9rem !important;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn-nav {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-nav:hover {
    background-color: #5a77c8;
}

.btn-nav:active {
    background-color: #092675;
}

main {
    background: linear-gradient(135deg, #204a9f, #7d1099);
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.todo-app {
    width: 100%;
    max-width: 33.75rem;
    background: #fff;
    border-radius: 2rem;
    background: linear-gradient(-45deg, #61ea1c, #b717c5);


    margin: 120px auto 20px;
    padding: 20px 30px 70px;
}

.todo-app h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.9375rem;
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;

    margin-bottom: 2rem;
}

.todo-app img {
    width: 3rem;
    height: 3rem;

    margin-left: 1rem;
    margin-top: 0.5rem;
}

.title {
    display: flex;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 1.5rem;

    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.input-box {
    width: 75%;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 1rem;

    padding: 0.8rem;
}

.row button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 2.5rem;
    background: #ff5645;
    color: #fff;

    padding: 1rem 3rem;
}

.row button:hover {
    background: #e86d64 !important;
    transition: all 0.3s ease;
}

.row button:active {
    background: #fa1201 !important;
    transition: all 0.3s ease;
}

.todo-app ul li {
    list-style: none;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
    color: #ffffff;
    position: relative;

    padding: 12px 8px 12px 50px;
}

.todo-app ul li::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    color: #fff;

    top: 12px;
    left: 8px;
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #ff5645;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.delete-btn:hover {
    opacity: 1;
}

.todo-app ul li.checked {
    color: #b9b9b9;
    text-decoration: line-through;
}

.todo-app ul li.checked::before {
    background-image: url(../img/checked.png);

}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: #191919;
}

.footer-container {
    text-align: center;
    background-color: #191919;
    padding: 2.65rem;
}

.copyright-text {
    color: #C5C5C5;
    opacity: 50%;
    font-weight: 300;
    font-size: 0.875rem;
}

@media (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .link p {
        padding-left: 0rem;
    }

    .link-rus {
        padding-left: 0rem !important;
    }

    .dropdown-menu {
        left: 7.1rem;
        top: 5rem;
    }
}

@media (max-width: 480px) {

    .btn-nav {
        padding: 0.75rem 1rem;
    }

    .main-container {
        min-height: 76vh;
    }

    .todo-app {
        width: 75vw;

        margin-bottom: 8.5rem;
        margin-top: 8.5rem;
    }

    .todo-app h1 {
        margin-left: 0.9rem;
        font-size: 1.4rem;
    }

    .title-rus {
        font-size: 2rem !important;
    }

    .img-rus {
        margin-top: 2.7rem !important;
    }

    .todo-app img {
        margin-top: 0.7rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .row {
        width: auto;
    }

    .input-box {
        max-width: 75%;
    }

    .row button {
        padding: 0.8rem 1rem;
        margin-left: -4.5rem;
    }
}